In [ ]:
# import pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# allow display of up to 200 columns

In [ ]:
pd.options.display.max_columns = 200

In [ ]:
# allow to display columns with up to 200 characters

In [ ]:
pd.options.display.max_colwidth = 200

In [ ]:
# create df: Torsten has scores 1, 2, 2 and Chantal 2 and 3

In [ ]:
df = pd.DataFrame({
    'person' : ['Torsten', 'Torsten', 'Torsten', 'Chantal', 'Chantal'],
    'score' : [1, 2, 2 , 2, 3]
})
df

In [ ]:
# add column 'person_mean' containing score mean for every person

In [ ]:
df = df.assign(person_mean = lambda x: x.groupby('person')['score'].transform('mean'))
df

In [ ]:
# move colum person_mean to to second place (method chaining)

In [ ]:
df.loc[:, lambda x: x.columns.insert(1, x.columns[-1])[:-1]]

In [ ]:
# make all columns lower case

df.rename(columns=str.lower)